*.bak
undodir/
# Excluir todos os arquivos, menos a pasta "andrikin".
# A ideia é excluir todas as pastas e depois "negar" a exclusão da pasta alvo
pack/
!pack/andrikin
Session.vim
lua/Session.vim
*.wip
*.bkp
plugged/
plugged/**/*
lazy-lock.json
